$top-color: #52524E;
$font-color: #D4D6C8;
$displayname-place-color: #52524E;
$displayname-color: #D4D6C8;

header {
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index: 1100;
  background-color: $top-color;
  width:100%;
  p {
    color: $font-color;
    font-size: 16pt;
  }
}

.displayname {
  border-style: none;
  color: $displayname-color;
  background-color: $displayname-place-color;
}

.button-font {
  font-size: 12pt;
}

.pic-size {
  width:25px;
  height:25px;
}

/* .hi {
  font-size: 14pt;
  color: $test;
} */
